:root {
    --primary: rgb(129, 129, 129);
    --light: white;
    --dark: black;

}
* {
    box-sizing: border-box;
}
body {
    margin:0;
    background-color: var(--light);
}

.board {
    --tile-size:50px;
    --door: brown;
    --wall-border: 4px solid var(--light);
    --door-border: 6px solid var(--door);
    --open-door-border: 6px dotted var(--door);

    display:grid;
    grid-template-columns: repeat(var(--grid-columns), var(--tile-size));
    grid-template-columns: repeat(var(--grid-rows), var(--tile-size));
}

.tile {
    background-color: var(--tile-background, var(--primary));
    width: var(--tile-size);
    height: var(--tile-size);
    border: 1px solid var(--dark);
    display: flex;
    justify-content: center;
    align-items: stretch;
    padding:10%;
}

.north-wall {
    border-top: var(--wall-border);
}
.east-wall {
    border-right: var(--wall-border);
}
.south-wall {
    border-bottom: var(--wall-border);
}
.west-wall {
    border-left: var(--wall-border);
}

.north-door {
    border-top: var(--door-border);
}
.east-door {
    border-right: var(--door-border);
}
.south-door {
    border-bottom: var(--door-border);
}
.west-door {
    border-left: var(--door-border);
}

.north-open-door {
    border-top: var(--open-door-border);
}
.east-open-door {
    border-right: var(--open-door-border);
}
.south-open-door {
    border-bottom: var(--open-door-border);
}
.west-open-door {
    border-left: var(--open-door-border);
}

.hero {
    width: 100%;
    height: 100%;
    background-color: white;
}